# DOCPLATFORM — Variables d'environnement
# Environnement
ENVIRONMENT=development
LOG_LEVEL=INFO

# MongoDB
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=rootpassword
MONGO_DB=docplatform

# MongoDB Express (UI dev)
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=admin

# MinIO 
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Auth JWT

JWT_SECRET_KEY=supersecretkey_change_in_production_please
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Airflow
AIRFLOW_FERNET_KEY=zTJHss7A5R7rUtcBrMlGi_GFmtCSnMdBpWDrA6KZhiE=
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# CORS 
CORS_ORIGINS=http://localhost:5173,http://localhost:5174

# Data-Generator (API INSEE)
INSEE_API_KEY=326b0c7e-ba17-449e-ab0c-7eba17e49e83